body{
    background-color:#0E1014;
}

.main{
    margin: 0 auto;
    display: flexbox;
    flex-direction: row;
    width: 70vw ;
}

.inputs,.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}
input,button{
    background-color:#272727;
    height : 2rem;
    width: 8rem;
    color: white;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin :0 10px;
}
button{
    height: 3.5rem;
    width: 9.5rem;
    margin-right: 1.5rem;
}
.go{
    display: flex;
    justify-content: center;
    align-items: center;
}
.move{
    color: white;
    background-color: #272727;
    padding: 0.75rem 0.75rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 2rem 2rem;
    cursor: pointer;
    
}
input:focus,button:hover,button:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
    background-color: #373737; 
    color: #ffffff; 
}
.move:hover{
    border: 1px solid #007bff ;
}
.move:active{
    border: 1px solid #007bff ;
    box-shadow: 0 0 2rem rgba(0, 123, 255, 0.5); 
    background-color: #373737; 
}


.display{
    width: 50vw;
    background-color: #393939;
    height: 60vh;
    margin:  0 auto;
    border-radius: 2rem;
    padding: 2rem 2rem;
    color: honeydew;
    border: 0.3rem solid #007bff; 
    box-shadow:0 0 10rem rgba(0, 123, 255, 0.5);
}
p {
    white-space: pre-line;
}

@media only screen and (max-width: 600px) {
    .display{
        width: auto;
        height: auto;
        padding: 1rem 1rem;
    }
    input{
        width: 7rem;
    }
    .inputs{
        margin-left: 1rem;
    }

}
@media only screen and (max-height: 450px) {
    .display,.inputs{
        width: auto;
        height: auto;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }
    input{
        width: 7rem;
    }
}

